/*
 * defaults.cfg - samfs defaults cfg definitions.
 */

/*
 *    SAM-QFS_notice_begin
 *
 * CDDL HEADER START
 *
 * The contents of this file are subject to the terms of the
 * Common Development and Distribution License (the "License").
 * You may not use this file except in compliance with the License.
 *
 * You can obtain a copy of the license at pkg/OPENSOLARIS.LICENSE
 * or http://www.opensolaris.org/os/licensing.
 * See the License for the specific language governing permissions
 * and limitations under the License.
 *
 * When distributing Covered Code, include this CDDL HEADER in each
 * file and include the License file at pkg/OPENSOLARIS.LICENSE.
 * If applicable, add the following below this CDDL HEADER, with the
 * fields enclosed by brackets "[]" replaced with your own identifying
 * information: Portions Copyright [yyyy] [name of copyright owner]
 *
 * CDDL HEADER END
 */
/*
 * Copyright 2009 Sun Microsystems, Inc.  All rights reserved.
 * Use is subject to license terms.
 *
 *    SAM-QFS_notice_end
 */

#ifndef _SAM_DEFAULTS_HC
#define	_SAM_DEFAULTS_HC

#ifdef sun
#pragma ident "$Revision: 1.10 $"
#endif

#ifdef SETFIELD_DEFS

#define	STRUCT sam_defaults Defaults

#include <sys/syslog.h>
#include "aml/preview.h"

MEDIA optical mo
MEDIA tape lt
INT timeout 600 0 INT_MAX
INT previews MAX_PREVIEW 1 INT_MAX
INT stages MAX_STAGES 1 INT_MAX
INT tp_mode=tapemode 0666
INT log_facility LOG_LOCAL7
INT stale_time 30 0 INT_MAX 60
INT idle_unload 600
INT avail_timeout 0 0 INT_MAX
INT shared_unload 60
INT remote_keepalive 300
INT rac_maxdevretry 150
FLAG label_barcode flags DF_LABEL_BARCODE TRUE TRUE FALSE
FLAG release_overlap flags DF_RELEASE_OVERLAP TRUE TRUE FALSE
FLAG barcode_low flags DF_BARCODE_LOW FALSE TRUE FALSE
FLAG exported_media flags DF_EXPORT_UNAVAIL available unavailable available
FLAG attended flags DF_ATTENDED YES YES NO
FLAG samrpc flags DF_START_RPC OFF ON OFF
FLAG alerts flags DF_ALERTS ON ON OFF
FLAG logging debug SAM_DBG_LOGGING TRUE TRUE FALSE
FLAG nrecycler flags DF_NEW_RECYCLER NO YES NO
FLAG legacy_arch_format flags DF_LEGACY_ARCH_FORMAT TRUE TRUE FALSE
FLAG pax_arch_format flags DF_PAX_ARCH_FORMAT FALSE TRUE FALSE

#endif  /* SETFIELD_DEFS */

#endif  /* _SAM_DEFAULTS_HC */
